---
import Main from "../layouts/main.layout.astro";
import Aboutme from "../components/aboutme.component.astro";
import Skills from "../components/skills.component.astro";
---

<Main title="GRJorge portfolio">
  <Aboutme />
  <Skills />
</Main>

<style>
  ul > li:hover {
    @apply transition-all scale-[116%];
  }
</style>
