---
import Main from "../layouts/main.layout.astro";
import Aboutme from "../components/aboutme.component.astro";
import Skills from "../components/skills.component.astro";
import Projects from "../components/projects.component.astro";
import Socials from "../components/socials.component.astro";
import Logo from "../components/logo.component.astro";
---

<Main title="GRJorge portfolio">
  <Aboutme />
  <Skills />
  <Projects />
  <article id="contactme" class="font-ibm text-light pt-8 pb-4">
    <div class="flex flex-col gap-4 items-center">
      <Logo color="fill-dark-100" size={100}/>
      <h2 class="text-xl font-bold text-yellow">Contact me</h2>
      <Socials />
    </div>
  </article>
</Main>

<style>
  ul > li:hover {
    @apply transition-all scale-[116%];
  }
</style>
