<footer class="flex justify-center bg-dark-100 pb-[72px] text-light shadow-lg">
    <div class="flex w-1/2 items-center pt-1">
        <div class="flex-1 text-sm">
            <p>Handcrafted by me<i class="fi fi-rr-heart text-red text-base ml-2"></i></p>
        </div>
        <div class="flex-1 text-center font-bold text-green text-lg font-ibm">
            <p>Learning day by day</p>
        </div>
        <div class="flex-1 text-end text-xs">
            <p>Made with <a class="text-blue" href="https://astro.build/" target="_blank">Astro</a></p>
            <p>Uicons by <a class="text-blue" href="https://www.flaticon.com/uicons" target="_blank">Flaticon</a></p>
        </div>
    </div>
</footer>