<article class="flex justify-center text-light font-ibm py-16">
  <div class="flex items-center flex-col w-1/2 gap-4">
    <h2 class="text-3xl font-bold">Skills</h2>
    <div class="flex w-full gap-4">
      <section class="bg-dark-300 flex-1 shadow-lg p-4 rounded-lg">
        <h3 class="text-center font-semibold text-lg mb-4">BackEnd</h3>
        <ul class="flex gap-2 text-sm justify-center flex-wrap">
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg">Node.js</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg">Express.js</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg">TypeScript</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg">MySQL</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg">MongoDB</li>
        </ul>
      </section>
      <section class="bg-dark-300 flex-1 shadow-lg p-4 rounded-lg">
        <h3 class="text-center font-semibold text-lg mb-4">FrontEnd</h3>
        <ul class="flex gap-2 text-sm justify-center flex-wrap">
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg">HTML5</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg">CSS3/Sass</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg">Tailwind</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg">Angular</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg">Astro</li>
        </ul>
      </section>
    </div>
    <section class="bg-dark-300 w-full shadow-lg p-4 rounded-lg">
      <h3 class="text-center font-semibold text-lg mb-4">Design</h3>
      <ul class="flex gap-2 text-sm justify-center flex-wrap">
        <li class="bg-dark-200 p-2 rounded-lg shadow-lg">Inkscape</li>
        <li class="bg-dark-200 p-2 rounded-lg shadow-lg">Adobe Ilustrator</li>
        <li class="bg-dark-200 p-2 rounded-lg shadow-lg">Aseprite</li>
        <li class="bg-dark-200 p-2 rounded-lg shadow-lg">Figma</li>
      </ul>
    </section>
  </div>
</article>
