<article class="flex justify-center text-light font-ibm py-16">
  <div class="flex items-center flex-col w-3/4 sm:w-1/2 gap-4">
    <h2 class="text-3xl font-bold">Skills</h2>
    <div class="flex flex-col md:flex-row w-full gap-4">
      <section class="bg-dark-300 flex-1 shadow-lg p-4 rounded-lg hover:scale-105 transition-all">
        <h3 class="text-center font-semibold text-lg mb-4">BackEnd</h3>
        <ul class="flex gap-2 text-sm justify-center flex-wrap">
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">Node.js</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">Express.js</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">TypeScript</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">MySQL</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">MongoDB</li>
        </ul>
      </section>
      <section class="bg-dark-300 flex-1 shadow-lg p-4 rounded-lg hover:scale-105 transition-all">
        <h3 class="text-center font-semibold text-lg mb-4">FrontEnd</h3>
        <ul class="flex gap-2 text-sm justify-center flex-wrap">
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">HTML5</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">CSS3/Sass</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">Tailwind</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">Angular</li>
          <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">Astro</li>
        </ul>
      </section>
    </div>
    <section class="bg-dark-300 w-full shadow-lg p-4 rounded-lg hover:scale-105 transition-all">
      <h3 class="text-center font-semibold text-lg mb-4">Design</h3>
      <ul class="flex gap-2 text-sm justify-center flex-wrap">
        <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">Inkscape</li>
        <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">Adobe Ilustrator</li>
        <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">Aseprite</li>
        <li class="bg-dark-200 p-2 rounded-lg shadow-lg hover:scale-105 transition-all">Figma</li>
      </ul>
    </section>
  </div>
</article>
