<nav class="flex gap-4 text-xl text-light">
  <a class="hover:text-dark-100" href="https://github.com/grjorge"><i class="fi fi-brands-github"></i></a>
  <a class="hover:text-purple" href="https://www.instagram.com/jorgeaxes/"><i class="fi fi-brands-instagram"></i></a>
  <a class="hover:text-green" href="https://wa.me/523481143851"><i class="fi fi-brands-whatsapp"></i></a>
  <a class="hover:text-blue" href="https://www.linkedin.com/in/jorgegarciarod"><i class="fi fi-brands-linkedin"></i></a>
  <a class="hover:text-yellow" href="mailto:jorgegarciadev@outlook.com"><i class="fi fi-rr-envelope"></i></a>
</nav>

<style>
    a {
        @apply transition-all;
    }
</style>